data/tweepFake/
!data/
!data/archives/
!data/archives/trivial
!data/processed/
!data/reddit/
!data/reddit2/
!data/twitter/
!data/trivial/
data/archives/*
data/processed/*
data/reddit/*
data/reddit2/*
data/twitter/*
venv/
.env
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/
*.zip
output/data/*
output/main.py
